.row {
    padding-left: 15px;
}

#row3 {
    padding-top: 25px;
}

#row4 {
    padding-top: 25px;
}

#facts h4 {
    padding-top: 15px;
}

.img-wrapper {
    padding-bottom: 150%;
}

.figure-caption {
    padding-left: 10px;
}
